<!doctype html>
<html lang="sr-RS">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
              name="viewport">
        <title><%= t("title") %></title>
        <!--suppress HtmlUnknownTarget -->
        <link href="/images/avatar.png"
              rel="icon"
              sizes="32x32"
              type="image/png">
    </head>
    <body>
        <noscript><%= t("noscript") %></noscript>
    </body>
</html>
